

{% extends "base.html" %}
{% block content %}

<div class="month"> 
  <ul>
   <!-- <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    --><li>
      {{month}}<br>
      <span style="font-size:18px">{{year}}</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Ma</li>
  <li>Ti</li>
  <li>Ke</li>
  <li>To</li>
  <li>Pe</li>
  <li>La</li>
  <li>Su</li>
</ul>

<ul class="days"> 
{% for date in dates %}
  <li><a href="{{base_path}}/reservation/new/{{date}}">{{date}}</a></li>
{% endfor %}
</ul>

{% endblock %}