{% extends "base.html" %}
{% block content %}
  <h1>Luo käyttäjä</h1>

    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <form method="post" action="{{base_path}}/register">
    <div class="form-group">
    <label>Käyttäjätunnus</label>
      <input type="text" name="loginname" class="form-control" value="{{apartment.loginname}}">
    </div>
    <div class="form-group">
      <label>Sukunimi</label>
      <input type="text" name="surname" class="form-control" value="{{apartment.surname}}">
    </div>
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" name="password" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}