{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa varausta</h1>
  {% import "macros/forms.html" as forms %}

    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/reservation/{{reservation.id}}/edit">
    <div class="form-group">
      <input type="hidden" name="apartment_id" class="form-control" value="{{reservation.apartment_id}}">
    </div>
    <div class="form-group">
      <label>Sauna</label>
      <select class="form-control" name="sauna_id" value="{{reservation.sauna-id}}">
        {% for sauna in saunas %}
          <option  value="{{sauna.id}}"><b>{{sauna.name}}</b>, {{sauna.address}}</option>
        {% endfor %}
      </select>
      
    </div> 
    <div class="form-group">
      <label>Päivä</label>
      <input type="time" name="day" class="form-control" value="{{reservation.day}}">
    </div>
    <div class="form-group">
      <label>Varauksen alku</label>
      <input type="time" name="reserve_start" class="form-control" value="{{reservation.reserve_start}}">
    </div>
    <div class="form-group">
      <label>Varauksen loppu</label>
      <input type="time" name="reserve_end" class="form-control" value="{{reservation.reserve_end}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
    
  </form>
{% endblock %}