{% extends "base.html" %}



{% block content %}

  {{message}}


<h1>Varaukset</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Sauna</th>
        <th>Päivä</th>
        <th>Varauksen alkuaika</th>
        <th>Varauksen loppaika</th>
      </tr>
    </thead>

    <tbody>
      {% for reservation in reservations %}
        <tr>
        {% for sauna in saunas %}
          {% if sauna.id == reservation.sauna_id %}
            <td>{{sauna.name}}</td>
          {% endif %}
        {% endfor %}
          <td>{{reservation.day}}</td>
          <td>{{reservation.reserve_start}}</td>
          <td>{{reservation.reserve_end}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{forms}}
{% endblock %}
