{% extends "base.html" %}

{% block content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Huoneisto</th>
      </tr>
    </thead>

    <tbody>
      {% for reservation in reservations %}
        <tr>
          <td><a href="{{base_path}}/reservation/{{reservation.id}}">{{reservation.apartment_id}}</td>

          <td><a class="btn btn-default btn-sm" href="{{base_path}}/reservation/{{reservation.id}}/edit">Muokkaa</a></td>
          <td><a class="btn btn-danger" href="{{base_path}}/reservation/{{reservation.id}}/destroy">Poista</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
