{% extends "base.html" %}
{% block content %}
  <h1>Lisää varaus</h1>

  <form method="post" action="{{base_path}}/reservation">
    <div class="form-group">
      <label>Aparment_id</label>
      <input type="text" name="apartment_id" class="form-control">
    </div>

    <div class="form-group">
      <label>sauna_id</label>
      <input type="text" name="sauna_id" class="form-control">
    </div>

    <div class="form-group">
      <label>reserved</label>
      <input type="text" name="reserved" class="form-control">
    </div>

    <div class="form-group">
      <label>reservestart</label>
      <textarea name="reservestart" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>reserve_end</label>
      <textarea name="reserve_end" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}