{% extends "base.html" %}
{% block content %}
  <h1>Lisää varaus</h1>

    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/reservation">
    <div class="form-group">
      <input type="hidden" name="apartment_id" class="form-control" value="{{user_logged_in.id}}">
    </div>
    <div class="form-group">
      <label>Saunan id</label>
      <input type="number" name="sauna_id" class="form-control">
    </div>
    <div class="form-group">
      <label>Varattu(turha ominaisuus, muutan myöhemmin) </label>
      <input type="boolean" name="reserved" class="form-control">
    </div>
    <div class="form-group">
      <label>Varauksen alku</label>
      <input type="datetime" name="reservestart" class="form-control">
    </div>

    <div class="form-group">
      <label>Varauksen loppu</label>
      <input type="datetime" name="reserve_end" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}