{% extends "base.html" %}

{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Yksittäisen varauksen sivu</h1>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Huoneiston id</th>
        <th>Saunan id</th>
        <th>Varaustilanne(saatan poistaa tämän attribuutin, tuntuu atm hieman turhalta)</th>
        <th>Varauksen alkuaika</th>
        <th>Varauksen loppaika</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>{{reservation.apartment_id}}</td>
          <td>{{reservation.sauna_id}}</td>
          <td>{{reservation.reserved}}</td>
          <td>{{reservation.reservestart}}</td>
          <td>{{reservation.reserve_end}}</td>
        </tr>
    </tbody>
  </table>
    {{forms.get_button("#{base_path}/reservation/#{reservation.id}/edit")}}
    {{forms.post_button("#{base_path}/reservation/#{reservation.id}/destroy")}}
</form>


{% endblock %} 
